{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <h1>SQL injection</h1>
    <h3>idea got from: https://realpython.com/prevent-python-sql-injection/ </h3>
    <img
  src="{{ url_for('static', filename='exploits_of_a_mom.png') }}"
  class="image"
/>
<h3>src photo: https://xkcd.com/327/</h3>
<h1>Login</h1>
    <form action="/login" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Login</button>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</div>
{% endblock content %}